.comment {
  font-family: "Roboto", sans-serif;
  margin-bottom: 16px;
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  height: fit-content;

  display: flex;
}
.comment:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  border: 2px solid #e0e0e0;
}

.comment-content {
  width: 100%;
}

.comment-header {
  margin-bottom: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username {
  font-weight: bold;
  margin-right: 8px;
  color: #333;
}

.date {
  color: #757575;
  font-size: 0.9em;
}

.comment-text {
  margin-bottom: 12px;
  line-height: 1.5;
  font-size: 20px;
}

.comment-actions {
  gap: 12px;
  font-size: 0.9em;

  display: flex;
}

.replies {
  margin-top: 16px;
  margin-left: 40px;
  border-left: 2px solid #e0e0e0;
  padding-left: 12px;
}

.user-can-click,
.show-replies-btn,
.leave-comment-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.1s;
}

.user-can-click:hover,
.show-replies-btn:hover {
  transform: scale(1.1);
}
